body{
    background-image: url(../image/pizza-photography-overhead.jpg);
    width: 100%;
    height:1000px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color:white;
    
}

